
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Nunito', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {font-family: 'Nunito', sans-serif; outline: 0; }
/********************/
/* Our custom style */
/********************/


body, html { width: 100%; height: 100%; }
body { background:#f07814; }

/*  Flexbox center  */
body, #logo, #content { display: flex; justify-content: center; align-items: center; }

#box { background:white; width: calc(100% - 75px); height: calc(100% - 75px); text-align: center; overflow: auto; }
#logo, #content { margin:auto; max-width: 600px; width: 100%; }
#logo { height: 30%; align-items: flex-end;}
#content { height: 70%; align-items: start; }
#content > div { width: 100%; padding: 40px 20px 40px 20px; box-sizing: border-box; }
#logo img {  width: 80%; max-width: 400px; }

h2 { font-weight: 700; font-size: 300%; margin: 20px 0; }
p { font-size: 150%; margin: 10px 0; }
.input { margin: 20px 0; }
button { background: #e6000f; font-weight: bold; color: white; padding: 16px; margin: 10px; cursor: pointer; border: solid 4px #e6000f; }
button:hover { box-shadow: black 4px 4px; border: solid 4px black; }

/* progress bar */
#progress { box-sizing: border-box; height: 20px; width: 100%; margin: 30px 0; border: none; padding: 5px }
#progress, #progress::-webkit-progress-bar { background: #eee }
#progress, #progress::-webkit-progress-bar, #progress::-webkit-progress-value { border-radius: 99px; }

/* progress value */
#progress::-ms-fill { background: #e6000f; border-radius: 99px }
#progress::-moz-progress-bar { background: #e6000f; border-radius: 99px }
#progress::-webkit-progress-value { background: #e6000f; border-radius: 99px }

small { display: block; font-size: 80%; }
#version { text-align: left; margin: 5px; color: #cacaca; font-size: 80%; position: absolute; }

/** Loop buttons **/
.loop2 {
  animation: shakesideways 0.1s infinite;
}
.loop3 {
  animation: shakeupdownsideways 0.1s infinite;
}
.loop4 { 
  animation: shakeintense 0.2s infinite;
}
.loop5 {
  animation: shakeintenser 0.2s infinite;
}
.loop6 {
  animation: rotateshake .2s infinite linear;
}
.loop7 {
  animation: movearound 10s infinite linear;
}
.loop8 {
  animation: shakesuperintense .6s infinite;
}
.loop9 {
  animation: hide .1s infinite;
}

@keyframes shakesideways {
  0% { transform: translate(1px, 0px); }
  100% { transform: translate(-1px, 0px); }
}
@keyframes shakeupdownsideways {
  0% { transform: translate(0px, -2px); }
  20% { transform: translate(2px, -2px); }
  40% { transform: translate(2px, 0px); }
  60% { transform: translate(2px, 2px); }
  80% { transform: translate(0px, 2px); }
  100% { transform: translate(0px, 0px); }
}
/* Shakey from https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shakeintense {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes shakeintenser {
  0% { transform: translate(2px, 2px) rotate(0deg); }
  10% { transform: translate(-2px, -4px) rotate(-2deg); }
  20% { transform: translate(-6px, 0px) rotate(2deg); }
  30% { transform: translate(6px, 4px) rotate(0deg); }
  40% { transform: translate(2px, -2px) rotate(2deg); }
  50% { transform: translate(-2px, 4px) rotate(-2deg); }
  60% { transform: translate(-6px, 2px) rotate(0deg); }
  70% { transform: translate(6px, 2px) rotate(-2deg); }
  80% { transform: translate(-2px, -2px) rotate(2deg); }
  90% { transform: translate(2px, 4px) rotate(0deg); }
  100% { transform: translate(2px, -4px) rotate(-2deg); }
}
@keyframes rotateshake {
  0% { transform: translate(0px, -2px) rotate(0deg); }
  20% { transform: translate(2px, -2px) rotate(72deg); }
  40% { transform: translate(2px, 0px) rotate(144deg); }
  60% { transform: translate(2px, 2px) rotate(216deg); }
  80% { transform: translate(0px, 2px) rotate(288deg); }
  100% { transform: translate(0px, 0px) rotate(360deg); }
}
@keyframes movearound {
  0% { transform: translate(0px, 0px); }
  10% { transform: translate(-100px, -100px); }
  20% { transform: translate(-100px, 0px); }
  30% { transform: translate(100px, 100px); }
  40% { transform: translate(100px, -100px); }
  50% { transform: translate(-100px, 100px); }
  60% { transform: translate(-100px, 0px); }
  70% { transform: translate(100px, 100px); }
  80% { transform: translate(-100px, -100px); }
  90% { transform: translate(100px, 100px); }
  100% { transform: translate(0px, 0px); }
}
@keyframes shakesuperintense {
  0% { transform: translate(10px, 10px) rotate(0deg); }
  10% { transform: translate(-10px, -20px) rotate(-20deg); }
  20% { transform: translate(-30px, 0px) rotate(20deg); }
  30% { transform: translate(30px, 20px) rotate(0deg); }
  40% { transform: translate(10px, -10px) rotate(20deg); }
  50% { transform: translate(-10px, 20px) rotate(-20deg); }
  60% { transform: translate(-30px, 10px) rotate(0deg); }
  70% { transform: translate(30px, 10px) rotate(-20deg); }
  80% { transform: translate(-10px, -10px) rotate(20deg); }
  90% { transform: translate(10px, 20px) rotate(0deg); }
  100% { transform: translate(10px, -20px) rotate(-20deg); }
}
@keyframes hide {
  0% { opacity: 0; }
  100% { opacity: 0; }
}

@media only screen and (max-width: 500px) {
  #logo { height: 15%; }
  #content { height: 75%; }
  h2 { font-size: 250%; }
  p { font-size: 100%; }
  button { display: block; margin: 10px auto; }
}